.about-list-container {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem;
    padding: 0 15px;
}

.about-home-content {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.about-list li {
    display: grid;
    justify-items: center;
    margin: 0 0 5rem;
}