.about-list-container {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem;
    padding: 0;
    text-align: center;
}

.about-home-content {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.about-list li {
    display: grid;
    justify-items: center;
    margin: 0 0 5rem;
}

.about-pic {
    border-radius: 15px;
}

@media screen and (max-width: 750px) {
    .about-list-container {
        padding: 0 10px;
    }
}