/* base */

/*
main color: #D8AC49
*/

:root {
    --color-body: #333
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #000000;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
H4,
h5,
h6 {
    color: #000;
    line-height: 1.1;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}

@media screen and (min-width:750px) {
    .container {
        max-width: 1200;
        margin: 0 auto;
        padding: 2rem;
    }
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.img-radius {
    border-radius: 15px;
}

.section-title {
    font-size: 30px;
}

.more-btn {
    border: solid 2px #D8AC49;
    padding: 5px 11px;
    font-size: 18px;
    color: #D8AC49;
    background: none;
    flex-direction: column;
    text-align: center;
    max-width: 40%;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

.full-title {
    margin-bottom: 5rem;
    justify-content: center;
    display: flex;
}

/* header */

header {
    position: sticky;
    z-index: 2;
    top: 0;
    background: white;
    border-bottom: 1px solid #EEE;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200;
    margin: 0 auto;
    padding: .5rem 2rem 0;
}

.logo {
    max-width: 100px;
}

.menu-list li {
    margin: 0 7px;
}

.header-right {
    display: flex;
}

.menu-list,
.socials,
.icon-container {
    display: flex;
}

.socials li {
    margin: 3px;
    max-width: 25px;
    display: flex;
    align-items: center;
}

.burger {
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}

.burger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
}

.burger .bar::before,
.burger .bar::after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
    content: "";
    position: absolute;
}

.burger .bar::before {
    transform: translateY(-8px);
}

.burger .bar::after {
    transform: translateY(8px);
}


/* class utilitaires responsive*/

@media screen and (max-width: 750px) {
    .mobile-p {
        text-align: center;
        max-width: 90%;
    }

    .mobile-btn {
        margin-bottom: 1rem;
    }

    .section-title {
        margin-top: 6rem;
    }
}

@media screen and (min-width: 751px) {
    .p-single {
        max-width: 80%;
        text-align: center;
    }
}

/* section home*/

.grid {
    display: flex;
}

@media screen and (min-width: 751px) {
    #home {
        margin-top: 4rem;
    }
}

.home .section-title {
    display: flex;
    justify-content: center;
}

.home-part {
    min-width: 50%;
}

.home-part img {
    min-width: 300px;
}

.home-left {
    display: flex;
    justify-content: center;
}

.home-right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    min-width: 50%;
    text-align: right;
}

.home-right p {
    text-align: center;
}

.home-right .more-btn {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 750px) {
    .home .grid {
        flex-direction: column;
    }

    .home-right {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .home-right .home-part {
        display: grid;
        justify-items: center;
    }

    .home .more-btn {
        position: inherit;
    }

    .home .section-title {
        margin-bottom: 1rem;
    }
}

/* section  about*/

.about-part {
    min-width: 50%;
}

.about-part img {
    min-width: 300px;
}

.about-right {
    display: flex;
    justify-content: center;
}

.about p {
    margin: 5rem 0 3rem 0;
    line-height: 1.9;
}

@media screen and (max-width: 750px) {
    .about .grid {
        flex-direction: column-reverse;
    }

    .about-left {
        display: grid;
        justify-items: center;
    }

    .about .more-btn {
        max-width: 50%;
    }
}


/* section tools*/

.tools-pic-container {
    display: flex;
    justify-content: center;
}

.tool-title {
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
}

.tools-content {
    display: flex;
}

.tools-subtitle {
    margin-bottom: 3rem;
}

.tool-p {
    text-align: justify;
    display: flex;
    max-width: 85%;
}

.btn-container {
    padding: 2.5rem 0 4rem 0;
    justify-content: center;
    display: flex;
}

.tool-p-container {
    justify-content: center;
    display: flex;
}

.tools-content-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tool-p-single {
    max-width: 80%;
}

.tool-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools-container {
    display: flex;
}

@media screen and (max-width: 750px) {

    .tools .section-title {
        font-size: 26px;
        margin-top: 5.5rem;
    }

    .tools .tools-pic-container {
        flex-direction: column;
        align-items: center;
    }

    .tool-pic {
        margin: 0;
    }

    .tools-container {
        display: block;
    }

    .tools-subtitle {
        max-width: 80%;
        text-align: center;
    }
}


/* section services */

.skills-grid {
    display: flex;
    flex-direction: column;
}

.skills_item {
    width: 100%;
    display: flex;
    margin: 0 0 5rem;
    align-items: flex-start;
}

.skills-right {
    margin: 0 0 0 2rem;
    display: grid;
    justify-items: end;
    align-items: center;
}

.skills-subtitles {
    margin: 1rem 0 2rem;
}

.skills-right .skills-subtitles {
    display: flex;
    justify-content: flex-end;
}

.skills-right p {
    text-align: end;
}

.skills-content p {
    max-width: 95%;
    margin: 3rem 0 4rem;
}

.skills-p-container {
    justify-content: flex-end;
    display: flex;
}

.skills-p-container p {
    margin-top: 0;
}

.skills-picture {
    min-width: 40%;
}

.last-item {
    margin-bottom: 0;
}

@media screen and (max-width: 750px) {

    .skills_item {
        flex-direction: column-reverse;
    }

    .skills-content {
        display: grid;
        justify-items: center;
    }

    .skill-pic {
        border-radius: 15px;
        max-width: 90%;
    }

    .skills-right,
    .skills-left {
        margin: 0;
        display: grid;
        justify-items: center;
    }

    .skills-content p {
        max-width: 90%;
        margin: 1rem 0 3rem;
        text-align: center;
    }

    .skills-items-2 {
        flex-direction: column;
        display: grid;
    }

    .skills-p-container {
        justify-content: center;
    }

}

/* section projets*/

.projects-p {
    max-width: 90%;
    text-align: center;
}

.projects-grid {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.project-link {
    background-image: url("https://picsum.photos/600/400?random=12");
    min-width: 50%;
    min-height: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    justify-content: center;
}

.project-link h3 {
    color: #ffffff;
}

.projects-container {
    display: flex;
}


@media screen and (max-width: 750px) {

    .projects .section-title {
        margin-bottom: 2rem;
    }

    .projects-p {
        margin-bottom: 4rem;
    }

    .projects-container {
        flex-direction: column;
        margin: 0;
        padding: 0 15px;
    }

    .left,
    .right {
        margin: 0 0 2rem;
    }
}

/* section contact */


.contact-p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto 2rem auto;
}

.form {
    margin: 1rem auto 0 auto;
    max-width: 600px;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.form textarea {
    min-height: 200px;
}

.form .btn {
    background: #000;
    color: #ffffff;
    width: auto;
    min-width: 120px;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all .4s ease-out;
}

.form .btn:hover {
    cursor: pointer;
    background: #D8AC49;
}

.contact-names {
    display: flex;
    justify-content: space-between;
}

#contact-fn {
    width: 48%;
}

#contact-ln {
    width: 48%;
}

@media screen and (max-width: 750px) {

    .contact-p {
        max-width: 90%;
    }

    .contact form {
        max-width: 90%;
    }

}

/* more-section sur pages annexes */

.more-section {
    display: grid;
    justify-items: center;
    margin: 0 0 7rem;
}

.more-section-title {
    margin: 0 0 1.3rem 0;
}

.more-section-btn {
    width: auto;
    border: 2px solid;
    padding: 1rem 1.5rem;
    color: black;
    border-radius: 6px;
    background: #fff;
}

.more-section-content {
    margin-bottom: 2.5rem;
}

.separator {
    content: "";
    width: 30%;
    max-width: 30%;
    background: #000;
    height: 2px;
    position: static;
    justify-self: center;
}

.separator-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin-bottom: 7rem;
}

@media screen and (max-width: 750px) {

    .more-section-title {
        margin: 0 0 .7rem 0;
    }

    .more-section {
        margin: 0 0 4rem;
    }

    .separator {
        width: 70%;
        max-width: 70%;
    }
}


/* section footer */

footer {
    border-top: 1px solid #e8e0e0;
    padding: 2rem;
}

.left-footer {
    display: none;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

@media screen and (max-width: 750px) {
    footer {
        padding: 3rem 0;
    }
}


/* dynamisme et burger */

@media screen and (max-width: 990px) {
    .navbar {
        display: flex;
        position: fixed;
        width: 0%;
        height: calc(100vh - 106px);
        right: 110%;
        opacity: 0;
        background: white;
        top: 105px;
        z-index: 2;
        justify-content: center;
        align-items: center;
        transition: all .6s;
    }

    .show-nav .navbar {
        right: 0;
        opacity: 1;
        width: 100%;
        left: 0;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
        margin-top: -130px;
    }

    nav .menu-list li {
        display: flex;
        justify-content: center;
    }

    nav .menu-list a {
        display: block;
        font-size: 2rem;
        padding: 2rem;
        transition: all .4s;
        transition-delay: opacity .4s;
    }

    .show-nav .burger .bar {
        width: 0;
    }

    .burger .bar::before,
    .burger .bar::after {
        transition: all 0.3s ease-out;
    }

    .show-nav .burger .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger .bar::after {
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 990px) {
    .burger {
        display: none;
    }
}