/* base */

/*
main color: #D8AC49
*/

:root {
    --color-body: #333;
    --brand-color: #D8AC49;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #000000;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
H4,
h5,
h6 {
    color: #000;
    line-height: 1.1;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}

@media screen and (min-width:751px) {
    .container {
        max-width: 1200;
        margin: 0 auto;
        padding: 2rem;
    }
}

@media screen and (max-width:750px) {
    .container {
        justify-items: center;
        display: grid;
    }
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.img-radius {
    border-radius: 15px;
}

.section-title {
    font-size: 30px;
}

.more-btn {
    border: solid 2px var(--brand-color);
    padding: 5px 11px;
    font-size: 18px;
    color: var(--brand-color);
    background: none;
    text-align: center;
    width: auto;
    transition: all .3s ease-out;
}

.more-btn:hover {
    scale: 1.04;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

.full-title {
    margin-bottom: 5rem;
    justify-content: center;
    display: flex;
}

/* header */

header {
    position: sticky;
    z-index: 2;
    top: 0;
    background: white;
    border-bottom: 1px solid #EEE;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200;
    margin: 0 auto;
    padding: .5rem 2rem 0;
}

.logo {
    max-width: 100px;
}

.menu-list li {
    margin: 0 7px;
}

.header-right {
    display: flex;
}

.menu-list,
.socials,
.icon-container {
    display: flex;
}

.socials li {
    margin: 3px 4px;
    max-width: 25px;
    display: flex;
    align-items: center;
}

header .socials li img {
    color: var(--brand-color);
}

.burger {
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
}

.burger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
}

.burger .bar::before,
.burger .bar::after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
    content: "";
    position: absolute;
}

.burger .bar::before {
    transform: translateY(-8px);
}

.burger .bar::after {
    transform: translateY(8px);
}


/* effet navbar desktop*/


.menu-list li a::after {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background: #000;
    transition: all .4s ease-in-out;
}

.menu-item-active::after {
    display: block;
    content: "";
    width: 100% !important;
    height: 2px;
    background: #000;
}

.menu-list li:hover a::after {
    width: 100%;
}



/* class utilitaires responsive*/

@media screen and (max-width: 750px) {
    .mobile-p {
        text-align: center;
        max-width: 85%;
    }

    .mobile-btn {
        margin-bottom: 1rem;
    }

    .section-title {
        margin-top: 6rem;
        font-size: 2.5rem;
        max-width: 90%;
    }

    .full-title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 751px) {
    .p-single {
        max-width: 80%;
        text-align: center;
    }
}

/* section home*/

.grid {
    display: flex;
}

@media screen and (min-width: 751px) {
    #home {
        margin-top: 4rem;
    }
}

.home .section-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.section-title {
    text-align: center;
}

.home-part {
    min-width: 50%;
}

.home-part img {
    min-width: 300px;
}

.home-left {
    display: flex;
    justify-content: center;
}

.home-right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    min-width: 50%;
    text-align: right;
}

.home-right p {
    text-align: center;
}

.home-right .more-btn {
    position: absolute;
    right: 0;
}

#about-home .grid {
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .home .grid {
        flex-direction: column;
    }

    .home-right {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .home-right .home-part {
        display: grid;
        justify-items: center;
    }

    .home .more-btn {
        position: inherit;
    }

    .home .section-title {
        font-size: 30px;
        margin-bottom: 1rem;
    }
}

/* section  about*/

#about,
#about h1,
#about .home-title-line-container {
    color: white;
    background: var(--brand-color);
}

#about .home-title-line-container::before {
    background: white;
}

#about .container {
    padding: 2rem;
}

#about .container .grid {
    background: white;
    color: #000;
    margin-bottom: 3rem;
    padding: 2rem 2rem 0;
    border-radius: 15px;
    width: fit-content;
    align-items: center;
    max-width: 100%;
}

#about .grid .about-part {
    min-width: 50%;
}

#about .grid .about-part {
    min-width: 50%;
}

.about-part img {
    min-width: 300px;
}

.about .more-btn {
    color: var(--brand-color);
    border-color: var(--brand-color);
}

.about-right {
    display: flex;
    justify-content: center;
}

.about p {
    margin: 5rem 0 5rem 0;
    line-height: 1.9;
}

@media screen and (max-width: 750px) {
    .about .grid {
        flex-direction: column-reverse;
    }

    .about-left {
        display: grid;
        justify-items: center;
    }

    #about {
        margin-bottom: 2rem;
    }

    #about .container .grid {
        padding: 2rem;
    }

    #about h1 {
        max-width: 90%;
    }

    .about-part img {
        min-width: 250px;
    }
}


/* section tools*/

section {
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;
}

.tools-pic-container {
    display: flex;
    justify-content: center;
}

.tool-title {
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
}

.tools-content {
    display: flex;
}

.tools-subtitle {
    margin-bottom: 3rem;
}

.tool-p {
    text-align: center;
    display: flex;
    max-width: 85%;
}

.btn-container {
    padding: 2.5rem 0 4rem 0;
    justify-content: center;
    display: flex;
}

.tool-p-container {
    justify-content: center;
    display: flex;
}

.tools-content-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tool-p-single {
    max-width: 80%;
}

.tool-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.tools-container {
    display: flex;
}

@media screen and (max-width: 750px) {

    .tools .section-title {
        font-size: 26px;
        margin-top: 5.5rem;
    }

    .tools .tools-pic-container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .tool-pic {
        margin: 0;
    }

    .tools-container {
        display: block;
    }

    .tools-subtitle {
        max-width: 80%;
        text-align: center;
    }

    .tool-container {
        padding: 0 10px;
        max-width: 100%;
    }

    .tool-p {
        text-align: center;
        display: flex;
        max-width: 85%;
    }
}


/* section services */

#skills,
#skills .home-title-line-container,
#skills .home-title-line-container h1 {
    background: var(--brand-color);
}

#skills .home-title-line-container::before {
    background: #fff;
}

#skills h1,
#skills .single-skill-p {
    color: #fff;
}


.skills-grid {
    display: flex;
    flex-direction: column;
}

.skills_item {
    width: 100%;
    display: flex;
    margin: 0 0 5rem;
    align-items: flex-start;
    background: white;
    border-radius: 15px;
    padding: 1rem 2rem;
}

.skills-right {
    margin: 0 0 0 2rem;
    display: grid;
    justify-items: end;
    align-items: center;
}

.skills-subtitles {
    margin: 1rem 0 2rem;
}

.skills-right .skills-subtitles {
    display: flex;
    justify-content: flex-end;
}

.skills-right p {
    text-align: end;
}

.skills-content p {
    max-width: 95%;
    margin: 3rem 0 4rem;
}

.skills-p-container {
    justify-content: flex-end;
    display: flex;
}

.skills-p-container p {
    margin-top: 0;
}

.skills-picture {
    min-width: 40%;
}

.last-item {
    margin-bottom: 0;
}

.single-skill-p {
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
}

@media screen and (max-width: 750px) {

    #skills .container {
        padding: 0 3rem;
    }

    .skills_item {
        flex-direction: column-reverse;
        padding: 0;
    }

    .skills-content {
        display: grid;
        justify-items: center;
    }

    .skill-pic {
        border-radius: 15px 15px 0 0;
        max-width: 100%;
    }

    .skills-right,
    .skills-left {
        margin: 0;
        display: grid;
        justify-items: center;
    }

    .skills-content p {
        max-width: 90%;
        margin: 1rem 0 3rem;
        text-align: center;
    }

    .skills-items-2 {
        flex-direction: column;
        display: grid;
    }

    .skills-p-container {
        justify-content: center;
    }

}

@media screen and (min-width: 751px) {
    .skills-content p {
        margin: 1rem 0 6rem;
    }
}


/* section projets*/

#projects {
    margin-top: 4rem;
}

.projects-p {
    max-width: 90%;
    text-align: center;
}

.projects-grid {
    max-width: 100%;
    position: relative;
    padding: 0 10px;
    display: grid;
}

.project-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
}

.project-img {
    max-width: 100%;
    max-height: 100%;
}

.project__inner_txt {
    color: #fff;
    position: absolute;
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
}

@media screen and (max-width: 750px) {

    .projects .section-title {
        margin-bottom: 2rem;
    }

    .projects-p {
        margin-bottom: 4rem;
    }

    .left,
    .right {
        margin: 0 0 2rem;
    }

    .project__inner_txt {
        font-size: 1.5rem;
        text-align: center;
    }

    .projects-grid {
        padding: 0 10px;
    }

    #projects {
        padding: 0 10px;
    }
}

@media screen and (min-width: 751px) {

    .project-img {
        width: 100%;
        height: 100%;
    }
}

/* section contact */


.contact-p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto 2rem auto;
}

.form {
    margin: 1rem auto 2rem auto;
    max-width: 600px;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 4rem;
}

.form textarea {
    min-height: 200px;
}

.form .btn {
    background: #000;
    color: #ffffff;
    width: auto;
    min-width: 170px;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all .4s ease-out;
    margin-top: 1.5rem;
}

.contact-btn-container {
    display: flex;
    justify-content: center;
}

.form .btn:hover {
    cursor: pointer;
    background: var(--brand-color);
}

.contact-names {
    display: flex;
    justify-content: space-between;
}

#contact-fn {
    width: 48%;
}

#contact-ln {
    width: 48%;
}

@media screen and (max-width: 750px) {

    .contact-p {
        max-width: 90%;
    }

    .contact form {
        max-width: 90%;
    }

    .sheet-content {
        padding: 0 10px;
    }

}

.sheet-title {
    padding: 3rem;
}

.sheet-title .container {
    display: grid;
    justify-items: center;
}

.sheet-content {
    text-align: center;
    justify-items: center;
    display: grid;
    background: var(--brand-color);
    border-radius: 15px;
    padding: 2rem;
    color: #fff;
    width: fit-content;
}

.sheet-content h1 {
    margin-top: 2rem;
    color: #fff;
}

@media screen and (min-width: 751px) {
    .sheet-content {
        padding: 2rem 4rem;
    }
}

/* more-section sur pages annexes */

.more-section {
    display: grid;
    justify-items: center;
    margin: 0 0 7rem;
    text-align: center;
}

.more-section-title {
    margin: 0 0 1.3rem 0;
}

.more-section-btn {
    width: auto;
    border: 2px solid var(--brand-color);
    padding: 1rem 2rem;
    color: var(--brand-color);
    border-radius: 6px;
    background: #fff;
    transition: all .3s ease-out;
}

.more-section-btn:hover {
    scale: 1.05;
}


.more-section-content {
    margin-bottom: 2.5rem;

}

.separator {
    content: "";
    width: 30%;
    max-width: 30%;
    background: #000;
    height: 2px;
    position: static;
    justify-self: center;
}

.separator-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin-bottom: 7rem;
}

@media screen and (max-width: 750px) {

    .more-section-title {
        margin: 0 0 .7rem 0;
    }

    .more-section {
        margin: 0 0 4rem;
        padding: 0 10px;
    }

    .separator {
        width: 70%;
        max-width: 70%;
    }
}

/* class pour lignes sur côtés*/

.title-line {
    background: #fff;
    position: relative;
    padding: 0 10px;
}

.title-line-container {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
}

.title-line-container::before {
    content: "";
    height: 2px;
    background: #000;
    top: 50%;
    position: absolute;
    width: 340px;
}

@media screen and (max-width: 750px) {
    .title-line-container::before {
        width: 270px;
    }
}


/* class pour lignes sur côtés home page*/

.home-title-line {
    background: #fff;
    position: relative;
    padding: 0 10px;
}

.home-title-line-container {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5rem;
}

@media screen and (max-width: 750px) {
    .home-title-line {
        font-size: 2.5rem;
        max-width: 90%;
    }

    .home-title-line-container {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 751px) {
    .home-title-line-container::before {
        content: "";
        height: 2px;
        background: #000;
        top: 50%;
        position: absolute;
        width: 65%;
    }

    .contact .home-title-line-container::before {
        width: 380px;
    }
}

/* section footer */

footer {
    background: var(--brand-color);
    border-top: 1px solid #e8e0e0;
    padding: 2rem;
    position: relative;
}

.left-footer {
    display: none;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

@media screen and (max-width: 750px) {
    footer {
        padding: 2rem 0;
    }

    .footer-container {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }

    .middle-footer span {
        font-size: 14px;
    }

    .middle-footer {
        margin-top: 1rem;
    }
}

footer img {
    color: var(--color-body);
}

.designer {
    position: absolute;
    right: 0;
    writing-mode: vertical-rl;
    font-size: 10px;
    transform: rotate(180deg);
    bottom: 13%;
}

/* dynamisme et burger */

@media screen and (max-width: 990px) {
    .navbar {
        display: flex;
        position: fixed;
        width: 0%;
        height: calc(100vh - 106px);
        left: 140%;
        opacity: 0;
        background: white;
        top: 105px;
        z-index: 2;
        justify-content: center;
        align-items: center;
        transition: all .6s;
    }

    .show-nav .navbar {
        right: 0;
        opacity: 1;
        width: 100%;
        left: 0;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
        margin-top: -130px;
    }

    nav .menu-list li {
        display: flex;
        justify-content: center;
    }

    nav .menu-list a {
        display: block;
        font-size: 2rem;
        padding: 2rem;
        transition: all .4s;
        transition-delay: opacity .4s;
    }

    .show-nav .burger .bar {
        width: 0;
    }

    .burger .bar::before,
    .burger .bar::after {
        transition: all 0.3s ease-out;
    }

    .show-nav .burger .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger .bar::after {
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 990px) {
    .burger {
        display: none;
    }
}