.projects-section-container {
    text-align: center;
}

.projects-category-selector .selector-title {
    margin: 4rem 0 3rem;
}

.projects-type-selector .selector-title {
    margin: 0 0 3rem;
}

.projects-type-selector-grid {
    display: flex;
    justify-content: center;
}

.projects-type-selector-grid li {
    margin: 0 8px;
}

.first-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.other-selectors {
    display: flex;
    margin: 30px 0 0;
    justify-content: center;
}

.projects-category-selector-grid li {
    margin: 0 8px;
}

.selector-btn {
    background: #EEE;
    padding: 1rem 1.5rem;
}

.active {
    border-color: #D8AC49;
    background-color: #D8AC49;
    color: #fff;
}

.sheet-projects-grid {
    width: 100%;
    margin: 4rem 0 0 0;
}

/* card setting */

.project-item-title {
    margin: 5px 0;
}

.project-category {
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    color: #464545;
}

/* modal settings */

.card__overlay {
    display: none;
}

.modal {
    display: none;
}