.service-container {
    text-align: center;
    margin-bottom: 5rem;
    display: grid;
    justify-items: center;
}

.contact-btn {
    border: 2px solid #000;
    padding: 1.3rem 2.4rem;
    border-radius: 10px;
    width: auto;
}

@media screen and (max-width: 750px) {
    .service-container {
        margin-bottom: 7rem;
    }
}

.service-more-txt {
    margin-top: 5rem;
}