.sheet-content {
    display: grid;
    justify-items: center;
    text-align: center;
}

.tool-part-container {
    display: grid;
    justify-items: center;
    margin-bottom: 4rem;
}

.tool-section-name,
.tool-section-subname {
    text-align: center;
}

.tool-section-container {
    padding: 0;
    margin-bottom: 6rem;
}

.tool-section-pic {
    margin-bottom: 3rem;
}


@media screen and (max-width: 750px) {
    .tool-section-container {
        padding: 0 15px;
    }

    .tool-section-pic {
        margin-bottom: 1.5rem;
    }
}