.sheet-content {
    display: grid;
    justify-items: center;
    text-align: center;
}

.tool-part-container {
    display: grid;
    justify-items: center;
    margin-bottom: 4rem;
}

.tool-section-name,
.tool-section-subname {
    text-align: center;
}

.tool-section-container {
    padding: 0;
    margin-bottom: 6rem;
}

.tool-section-pic {
    margin-bottom: 3rem;
}


@media screen and (max-width: 750px) {

    .tool-section-pic {
        margin-bottom: 1.5rem;
    }

    .tool-section-container {
        padding: 0 10px;
        margin-bottom: 2rem;
    }

    .tool-part-container {
        padding: 0 10px;
    }

    .tool-part-container:nth-child(1) .title-line-container::before {
        width: 130%;
    }

    .tool-section-subname {
        max-width: 90%;
    }
}